.menu {
	position: sticky;
	top: 0;
	z-index: 10;
	color: black;
	background-color: white;
    box-shadow: 0 0 50px -30px black;

    &:before {
        content: '';
    
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    
        width: 100%;
        height: 100%;
    }

    &__wrapper {
        position: relative;

        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__logo-link {
        z-index: 3;
    }

    &__logo {
        width: 170px;
    }

    &__burger {
        display: none;
    }
}

.main-nav {
    &__list {
        position: relative;
        z-index: 2;

        display: flex;
    }

    &__item {
        margin: 0 0 0 0px;

        list-style: none;
    }

    &__link {
        padding: 0 10px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
        color: black;
        

        &:hover,
        &:focus {
            text-shadow: 1px 1px 2px black;

            color: red;
        }
    }
}




@media (max-width: $screen-md-max) {
    body.lock {
        overflow: hidden;
    }

    .menu {
        &__burger {
            position: relative;
            z-index: 4;

            display: block;
            width: 30px;
            height: 20px;

            &-icon {
                position: absolute;
                top: 9px;
                left: 0;

                width: 100%;
                height: 2px;

                background-color: #000;
                
                transition: 1s;
            }

            &:before,
            &:after {
                content: '';

                position: absolute;
                left: 0;

                width: 100%;
                height: 2px;

                background-color: #000;

                transition: .8s;
            }

            &:before {
                top: 0;
            }

            &:after {
                bottom: 0;
            }

            &.active:before {
                top: 9px; 

                transform: rotate(45deg);
            }

            &.active:after {
                bottom: 9px;

                transform: rotate(-45deg); 
            }
            
            &.active &-icon {
                transform: scale(0);
            }
        }
    }

    .main-nav {
        position: fixed;
        top: -100%;
        left: 0;
        z-index: 3;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        
        background-color: rgba(128, 88, 108, .99);
        overflow: auto;
        
        transition: .3s;

        &__list {
            flex-direction: column;
        }

        &__item {
            margin: 0 0 40px 0;
        }

        &__link {
            color: white;
        }

        &.active {
            top: 0;
        }
    }          
}